html {
	height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #93c9ff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #93c9ff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#93c9ff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #93c9ff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #93c9ff 0%,#60abf8 44%,#4096ee 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #93c9ff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #93c9ff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c9ff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.desktop{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:93%;
}

.grille{
    width:100%;
    height:100%;
}

.barreNavig{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;
    height:4.5%;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 10%, #2989d8 89%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(10%,#2989d8), color-stop(89%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 10%,#2989d8 89%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 10%,#2989d8 89%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 10%,#2989d8 89%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 10%,#2989d8 89%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.cellDesktop{
    width:10%;
    text-align:center;
}
/*
.cellDesktop:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
}
*/
.elementDesktop{
    height:100%;
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor:pointer;
}

.elementDesktop span {
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-shadow: 1px 1px 0.1px black;
}

.rowDesktop{
    width: 100%;
    height:20.5%;
}

.folder{
    background-image: url("../img/folder.png");
}

.ui-selected.folder, .ui-selecting.folder{
    background-image: url("../img/folderSelect.png");
}


/***** Modal *****/
#contentFolder{
    width: 1000px;
    margin-left:-500px;
}

#contentFolder .menu{
    height:100%;
    width: 15%;
    float: left;
}

#contentFolder .content-menu{
    height:100%;
    border-right: 1px solid #cccccc;
}

#contentFolder .content{
    height:100%;
    width: 85%;
    float: left;
}

#contentFolder .content-content{
    height:100%;
    padding-left: 10px;
}

#contentFolder .modal-body{
    height:500px;
}

/***** POUR LES TESTS *****/
td {
    /*border:1px solid black;*/
}